@page "/set-selected"

<h1>Set a Selected Value by Default</h1>

<TabSet Selected="2">
    <Tab Title="First tab">
        <h4>First tab</h4>
        First tab content
    </Tab>

    <Tab Title="Second">
        <h4>Second tab</h4>
        Second tab content
    </Tab>

    <Tab Title="Third">
        <h4>Third tab</h4>
        Third tab content
    </Tab>
</TabSet>