@page "/tab-disabled"

<h1>Disabled Tabs</h1>

<TabSet>
    <Tab Title="First tab">
        <h4>First tab</h4>
        First tab content
    </Tab>

    <Tab Title="Second">
        <h4>Second tab</h4>
        Second tab content
    </Tab>

    <Tab Title="Third" Disabled="true">
        <h4>Third tab</h4>
        Third tab content
    </Tab>
</TabSet>
