@page "/"

<TabSet bind-Selected="@SelectedTab">
    <Tab Title="First tab">
        <h4>First tab</h4>
        This is the first tab.
    </Tab>

    <Tab Title="Second">
        <h4>Second tab</h4>
        You can toggle me.
    </Tab>

    <Tab Title="Third">
        <h4>Third tab</h4>

        <label>
            Toggle second tab
        </label>
    </Tab>
</TabSet>

<p>Change value to select at runtime</p>
<div>
    <span>Tab Selected: </span>
    <input type="number" bind="@SelectedTab" />
</div>

@functions
{
    int selectedTab = 1;

    // This extra prop is a temporary fix for: https://github.com/aspnet/Blazor/issues/610
    int SelectedTab
    {
        get => selectedTab;
        set
        {
            selectedTab = value;
            StateHasChanged();
        }
    }

}