@implements IDisposable
@implements ITab

<li>
    <a onclick=@Activate class="nav-link @ActiveCssClass" href="">
        @Title
    </a>
</li>

@functions {
    [CascadingParameter] TabSet ContainerTabSet { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; private set; }

    bool IsActive => ContainerTabSet.ActiveTab == this;
    string ActiveCssClass => IsActive ? "active" : String.Empty;

    protected override void OnInit()
    {
        ContainerTabSet.AddTab(this);
    }

    public void Dispose()
    {
        ContainerTabSet.RemoveTab(this);
    }

    void Activate()
    {
        ContainerTabSet.SetActiveTab(this);
    }
}