@inherits TabSetComponent
@* Display the tab headers *@
<CascadingValue Value=this>
    <ul class="nav nav-tabs">
        @ChildContent
    </ul>
</CascadingValue>

 @*Display body for only the active tab*@ 
<div class="nav-tabs-body p-4">
    @ActiveTab?.ChildContent
</div>